## Challenge 1: More data structures - Array

Lists are called arrays when they contain data of the same type, and may be preferred to lists when handling large amounts of data because they are computationally more efficient. Use your numpy library to create a "numpy array":

In [1]:
import numpy as np

In [2]:
# Define a numpy array
my_array = np.array([4, 5, 6, 10])

print(my_array)
print(type(my_array))

[ 4  5  6 10]
<class 'numpy.ndarray'>

Like lists, we can change an individual value by reassigning its index:

In [3]:
my_array[0] = 42
print(my_array)

[42  5  6 10]

Define an array based on a range of numbers:

In [4]:
number_range = np.arange(14,29)
print(number_range)

[14 15 16 17 18 19 20 21 22 23 24 25 26 27 28]

What if I want just the third, fourth and fifth elements of "number_range"

In [5]:
number_range[2:5]

array([16, 17, 18])

## Challenge 2: More data structures - Tuple

Tuples are similar to lists and arrays, but they are unchangeable ("immutable"). 

For example, we cannot change the output of 10 (the dividend) divided by 3 (the divisor) - by definition the quotient is 3 and the remainder is 1 this cannot be changed. 

> Although they appear similar to lists, note that tuples use round parentheses `()` to store information instead of square brackets.

In [6]:
div = divmod(10,3)
print(div)
print(type(div))

(3, 1)
<class 'tuple'>

Figure out another way to define any tuple below:

In [7]:
# Empty tuple
tuple_empty = ()
print(tuple_empty)
print(type(tuple_empty))

()
<class 'tuple'>

In [8]:
# Tuple with floats
tuple_float = (1.12, 2.23, 3.14)
print(tuple_float)
print(type(tuple_float))

(1.12, 2.23, 3.14)
<class 'tuple'>

In [9]:
# Complex tuple
tuple_complex = ([1, 3, 12], True, "hello!", (3.14, 3.14, 3.15))
print(tuple_complex)
print(type(tuple_complex))

([1, 3, 12], True, 'hello!', (3.14, 3.14, 3.15))
<class 'tuple'>

How do you think you index or slice a tuple? HINT: You are already familiar with this! Provide one example below.

In [10]:
print(tuple_complex[1])

# or

print(tuple_complex[3][2])

True
3.15

## Challenge 3: More data structures - Series

Series are the pandas version of arrays - one dimensional data storage, preferably of the same type.

In [14]:
pd.series?

Object `pd.series` not found.

What must you do before you can call the help files for `pd.Series`?

In [15]:
import pandas as pd

In [16]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool | None' = None,
    fastpath: 'bool | lib.NoDefault' = <no_default>,
) -> 'None'
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : Hashable, default None
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           ~/Downloads/miniconda3/envs/dighum101/lib/python3.12/site-packages/pandas/core/series.py
Type:           type
Subclasses:     SubclassedSeries

What are the two arguments in the `pd.Series` code below?

In [17]:
pd_series = pd.Series([1, 2, 3, 4, 5], 
                      index = ["a", "b", "c", "D", "E"])
print(pd_series)
print(type(pd_series))

a    1
b    2
c    3
D    4
E    5
dtype: int64
<class 'pandas.core.series.Series'>

## Reminder: Pandas Dataframe and zip()

A pandas DataFrame is an ordered group of equal-length series/arrays. This ensures that data are of the same type within each column, but that data can be of different types across rows (think like an MS Excel spreadsheet!)

> Pandas was a large part of our course in Week 2. This is just a little refresher!

In [18]:
# Create a DataFrame using lists

# Define two lists
heroes = ["Superman", "Black Panther", "Wonder Woman", "Batman", "Storm"]
hometown = ["Krypton", "Wakanda", "Themyscira", "Gotham", "Harlem"]
age = [23, 25, 41, 52, 22]

# Create an empty DataFrame
comics = pd.DataFrame()
print(comics)

Empty DataFrame
Columns: []
Index: []

In [19]:
# Use the lists to define the columns
comics["Name"] = heroes
comics["Home"] = hometown
comics["Age"] = age

# View the data frame
comics

            Name        Home  Age
0       Superman     Krypton   23
1  Black Panther     Wakanda   25
2   Wonder Woman  Themyscira   41
3         Batman      Gotham   52
4          Storm      Harlem   22

### `zip()`

The `zip()` function is a handy way to define data frames using tuples.

In [20]:
zip?

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

In [ ]:
# Using zip()

# Define lists to be the columns in our data frame
day = ["Monday", "Tuesday", "Friday"]
temp = [88, 91, 67]

# Convert our two separate lists into a list of tuples
tuples = list(zip(day, temp))
tuples

# Create the data frame 
pd.DataFrame(tuples, columns=["Day", "Temp"])

Create a small data frame like the ones above from scratch. Be creative!

In [21]:
Name = ["Student A", "Student B", "Student C", "Student D"]
Reading = [88, 99, 92, 78]
Math = [100, 95, 77, 99]
Science = [78, 88, 85, 80]
Art = [68, 88, 90, 100]

students = pd.DataFrame([Reading, Math, Science, Art],  
                        index = Name,
                        columns = ["Reading", "Math", "Science", "Art"])
students

           Reading  Math  Science  Art
Student A       88    99       92   78
Student B      100    95       77   99
Student C       78    88       85   80
Student D       68    88       90  100

In `pd.DataFrame`, what does index and columns do?

## Challenge 5: XML

.csv files are nice when we know the structure of the data (rows and columns) that we can quickly perform operations on. However, we are limited to this format, which can be difficult to incorporate into nested, hierarchical data structures. 

[Extensible Markup Language (.xml)](https://www.sitepoint.com/really-good-introduction-xml/) is good for representing data that have a hierarchical structure. Large, web-based datasets might be stored this way, and we can use their human readable format to select tags that we want to extract for analysis. However, these data are larger than .csv files because of the opening and closing "tags". 

There are a few libraries in Python that will parse XML for you, but we'll stick to the standard `xml` library in this course. Let's start out with a simple example. Suppose we want to store the metadata for the books in our library in an XML file. It might look something like this:

In [22]:
%pwd

'/Users/ahyeoncho/Desktop/DIGHUM101-2025/Week 3'

In [23]:
import os
os.chdir("../Data")

In [24]:
os.getcwd()

'/Users/ahyeoncho/Desktop/DIGHUM101-2025/Data'

In [25]:
%ls

2014wesp_country_classification.pdf  example.xml
Geo/                                 feminism.json
Obama_tweets.csv                     feminism.xml
USA/                                 frankenstein.txt
USA_adm.zip                          gapminder-FiveYearData.csv
baldwin_search.csv                   gapminder.csv
billnye tweets.csv                   gapminder.tsv
blm reddit.csv                       gapminder_gni.csv
books_search.csv                     human-rights/
childrens_lit.csv                    human_rights.csv
chis_data/                           iris.csv
citations.csv                        montagu/
compound_figure.pdf                  music_reviews.csv
correspondence-data-1585.csv         puppies_search.csv
covid_search.csv                     r_conspiracy.csv
dracula.txt                          us_racism_search.csv
example.json

In [26]:
!cat example.xml

<my-library>
    <book>
        <title>The Lion, the Witch and the Wardrobe</title>
        <author>C. S. Lewis</author>
        <date>1950</date>
        <publisher>Geoffrey Bles</publisher>
    </book>
    <book>
        <title>The Hobbit</title>
        <author>J. R. R. Tolkien</author>
        <date>1937</date>
        <publisher>George Allen and Unwin</publisher>
    </book>
    <book>
        <title>To Kill A Mockingbird</title>
        <author>Harper Lee</author>
        <date>1960</date>
        <publisher>J. B. Lippincott and Co.</publisher>
    </book>
</my-library>

To parse this in Python, we'll need to import the `xml` library and then build the tree. From the `tree` object, we can get the root of the tree, and then traverse the tree like we would our filesystem paths.

In [27]:
import xml.etree.ElementTree as ET # loads functions from `xml` library under the name `ET`

tree = ET.parse("example.xml")
root = tree.getroot()
print(ET.tostring(root))

b'<my-library>\n    <book>\n        <title>The Lion, the Witch and the Wardrobe</title>\n        <author>C. S. Lewis</author>\n        <date>1950</date>\n        <publisher>Geoffrey Bles</publisher>\n    </book>\n    <book>\n        <title>The Hobbit</title>\n        <author>J. R. R. Tolkien</author>\n        <date>1937</date>\n        <publisher>George Allen and Unwin</publisher>\n    </book>\n    <book>\n        <title>To Kill A Mockingbird</title>\n        <author>Harper Lee</author>\n        <date>1960</date>\n        <publisher>J. B. Lippincott and Co.</publisher>\n    </book>\n</my-library>'

This is how it would look if we typed it out:

In [ ]:
xml_string = '''
<my-library>
    <book>
        <title>The Lion, the Witch and the Wardrobe</title>
        <author>C. S. Lewis</author>
        <date>1950</date>
        <publisher>Geoffrey Bles</publisher>
    </book>
    <book>
        <title>The Hobbit</title>
        <author>J. R. R. Tolkien</author>
        <date>1937</date>
        <publisher>George Allen and Unwin</publisher>
    </book>
    <book>
        <title>To Kill A Mockingbird</title>
        <author>Harper Lee</author>
        <date>1960</date>
        <publisher>J. B. Lippincott and Co.</publisher>
    </book>
</my-library>
'''

In [29]:
root = ET.fromstring(xml_string)
print(ET.tostring(root))

b'<my-library>\n    <book>\n        <title>The Lion, the Witch and the Wardrobe</title>\n        <author>C. S. Lewis</author>\n        <date>1950</date>\n        <publisher>Geoffrey Bles</publisher>\n    </book>\n    <book>\n        <title>The Hobbit</title>\n        <author>J. R. R. Tolkien</author>\n        <date>1937</date>\n        <publisher>George Allen and Unwin</publisher>\n    </book>\n    <book>\n        <title>To Kill A Mockingbird</title>\n        <author>Harper Lee</author>\n        <date>1960</date>\n        <publisher>J. B. Lippincott and Co.</publisher>\n    </book>\n</my-library>'

We can get the direct children of the root with the `getchildren()` method:

In [30]:
root.getchildren()

AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getchildren'

`getchildren()` will always yield the elements subordinate to the parent element in a hierarchy. If we look at the XML string above, we can get the children of a `book` elements as well:

In [ ]:
first_book = root.getchildren()[0]
first_book.getchildren()

We can also use the `find` to quickly find an element. We'll use a for-loop to print the author for each book, which we get with the `find` method for each of the elements in the children above, and we get the text with the `text` property:

In [ ]:

for book in root:
    print(book.find('author').text)

Remember that in XML you can have elements which are usually between the two `< >` signs and can be found using the `find` or `getchildren` methods. To get the actual information, or text, from that element you can use the `.text` property.

## Challenge 6: XML Wikipedia data

Let's work with a real-world dataset. We're going to work with the revision history of a Wikipedia page. You can get this through Wikipedia's [API](https://www.mediawiki.org/wiki/API:Revisions) or [download](https://en.wikipedia.org/wiki/Wikipedia:Database_download) data directly. We'll look at the API more in a later module, so we've downloaded a page of revisions and saved it to the XML file in `../data/WIKIPEDIA/feminism.xml`

In [31]:
!head feminism.xml

<?xml version="1.0" ?>
<api>
	<continue continue="||" rvcontinue="20141129143034|635898159"/>
	<query>
		<pages>
			<page _idx="11185" ns="0" pageid="11185" title="Feminism">
				<revisions>
					<rev comment="Undid revision 788682640 by [[Special:Contributions/N0n3up|N0n3up]] ([[User talk:N0n3up|talk]]) sigh" parsedcomment="Undid revision 788682640 by &lt;a href=&quot;/wiki/Special:Contributions/N0n3up&quot; title=&quot;Special:Contributions/N0n3up&quot;&gt;N0n3up&lt;/a&gt; (&lt;a href=&quot;/wiki/User_talk:N0n3up&quot; title=&quot;User talk:N0n3up&quot;&gt;talk&lt;/a&gt;) sigh" size="138368" timestamp="2017-07-02T21:35:12Z" user="N0n3up">
						<tags/>
					</rev>

We can start off by parsing it like we did above with our books:

In [32]:
import xml.etree.ElementTree as ET
tree = ET.parse("feminism.xml")
root = tree.getroot()

At this point, you can either look in the XML in a text editor, or start the process of looking through the tree manually to find the actual metadata of each revision. You'll have to do this when we work with JSON in a later challange, so don't be afraid if none of this makes sense at this point!

In [33]:
root.getchildren()

AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'getchildren'

In [ ]:
root.find('query').getchildren()

In [ ]:
root.find('query/pages').getchildren()

In [ ]:
root.find('query/pages/page').getchildren()

In [ ]:
root.find('query/pages/page/revisions').getchildren()

Found it! Those are the revision items we want. Let's assign that list to a variable:

In [ ]:
revisions = root.find('query/pages/page/revisions')

Now we can loop through and ask for some of the specific metadata about each revision, the `timestamp` for example:

In [ ]:
for rev in revisions.getchildren():
    print(rev.get('timestamp'))

## Challenge 7: JSON

As a Pythonista, after dealing with XML you'll be happy to see [JSON](https://en.wikipedia.org/wiki/JSON). JavaScript Object Notation (JSON) is preferred because it looks exactly like a Python `dictionary`. The `json` library takes care of the few differences between the two so that we don't have to ourselves. Let's take a look at the same data about the books in our library from the XML notebook in JSON format:

In [34]:
!cat example.json

{"my_library": [{"title": "The Lion, the Witch and the Wardrobe",
                 "author": "C. S. Lewis",
                 "date": "1950",
                 "publisher": "Geoffrey Bles"},
                {"title": "The Hobbit",
                 "author": "J. R. R. Tolkien",
                 "date": "1937",
                 "publisher": "George Allen and Unwin"},
                {"title": "To Kill A Mockingbird",
                 "author": "Harper Lee",
                 "date": "1960",
                 "publisher": "J. B. Lippincott and Co."}
            ]
}

Looks much nicer than XML and its many tags! In Python, it looks like a `dictionary` with a key of `my_library` and a value of a `list` of `dictionary` objects. Each of these `dictionary` objects in the list contains the metadata. We can use the `json` library to make it exactly that!

In [35]:
import json

my_library = json.load(open("example.json"))
my_library

{'my_library': [{'title': 'The Lion, the Witch and the Wardrobe',
   'author': 'C. S. Lewis',
   'date': '1950',
   'publisher': 'Geoffrey Bles'},
  {'title': 'The Hobbit',
   'author': 'J. R. R. Tolkien',
   'date': '1937',
   'publisher': 'George Allen and Unwin'},
  {'title': 'To Kill A Mockingbird',
   'author': 'Harper Lee',
   'date': '1960',
   'publisher': 'J. B. Lippincott and Co.'}]}

In [25]:
print(type(my_library))

<class 'dict'>

Index `my_library` to return only the year "The Hobbit" was published.

In [26]:
my_library["my_library"][1]["date"]

'1937'

You will visualize some XML and JSON data next week!

## Challenge 8: JSON Wikipedia Data

Let's go back to that revision history data. Wikipedia actually prefers that you get the data in JSON format, so we've downloaded some more data for you in JSON, it's located at `../data/WIKIPEDIA/feminism.json`:

In [36]:
feminism_json = json.load(open("feminism.json"))
feminism_json[0]

{'user': 'N0n3up',
 'timestamp': '2017-07-02T21:35:12Z',
 'size': 138368,
 'comment': 'Undid revision 788682640 by [[Special:Contributions/N0n3up|N0n3up]] ([[User talk:N0n3up|talk]]) sigh',
 'parsedcomment': 'Undid revision 788682640 by <a href="/wiki/Special:Contributions/N0n3up" title="Special:Contributions/N0n3up">N0n3up</a> (<a href="/wiki/User_talk:N0n3up" title="User talk:N0n3up">talk</a>) sigh',
 'tags': []}

In [37]:
feminism_json[0].keys()

dict_keys(['user', 'timestamp', 'size', 'comment', 'parsedcomment', 'tags'])

In [38]:
feminism_json[0]['timestamp']

'2017-07-02T21:35:12Z'